version: '3'

services:

  api:
    container_name: flask
    build: .
    ports:
      - "5001:5001"
    depends_on:
      redis:
        condition: service_healthy
      postgres:
        condition: service_healthy

  redis:
    container_name: redis_auth
    image: redis:7.0.5
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - redis_data:/data

  postgres:
    container_name: postgres_db
    image: postgres:13
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=123qwe
      - POSTGRES_USER=app
      - POSTGRES_DB=auth_service_db
    healthcheck:
      test: ["CMD-SHELL", "pg_isready", "-d", "auth_service_db"]
      interval: 10s
      timeout: 30s
      retries: 5

  nginx:
    image: nginx:1.23.1
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/configs:/etc/nginx/conf.d:ro
      - ./data:/data/:ro
    depends_on:
      - api
    ports:
      - "80:80"

volumes:
  redis_data: